<% layout("layouts/boilerplate.ejs") %>
<body><br><br>
    <h3>Create a new listing</h3>
    <br>
    <div class="row"></div>
    <form action="/listings" method="POST" novalidate class="needs-validation">
        <div>
            <label for="title"  class="form-label">Title</label>
            <input type="text" required placeholder="Enter Title" name="title" class="form-control">
            <div class="valid-feedback">Title Looks Good</div>
            <div class="invalid-feedback">Please enter title for your listing</div>
        </div>
        
        <br>
        <br>
        <div>
            <label for="Description"  class="form-label">Description</label>
            <input type="text" required class="form-control" placeholder="Enter Description for your property">
            <div class="invalid-feedback">Please enter description</div>
        </div>
        <br>
        <br>
        <div>
            <label for="Image"  class="form-label">Image</label>
            <input type="text" required class="form-control"  placeholder="Enter Image URL" name="image">
            <div class="invalid-feedback">Please enter images of your property</div>
        </div>
        <br>
        <br>
        <div>
            <label for="price"  class="form-label">Price</label>
            <input type="number"required placeholder="Enter Price" name="price" class="form-control" >
            <div class="invalid-feedback">Please enter price</div>
        </div>
        <br>
        <br>
        <div>
            <label for="price" class="form-label">Country</label>
            <input type="text" required class="form-control" placeholder="Enter Country" name="country">
            <div class="invalid-feedback">Please enter country</div>
        </div>
        <br><br>
        <div>
            <label for="price" class="form-label">Location</label>
            <input type="text" required class="form-control" placeholder="Enter Location" name="location">
            <div class="invalid-feedback">Please enter location</div>
        </div>
        <br><br>
        <button class="btn add-btn btn-dark mb-3">Add Property</button>
    </form>
</body>
